body {
  background-color: tomato;
}

h1 {
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.board > img {
  transition: 0s ease;
  width: 100%;
}

.board > img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  border: 1px solid white;
  transition: 0.3s ease;
}
